@namespace DataGridProject.Components
@typeparam TDataItem

<div class="filter-item col d-flex flex-column justify-content-center my-1">
    <label class="form-label" for="@ElementId">
        @if (FilterType == FilterTypes.DateTimeMin)
        {
            <text>
                @(string.IsNullOrEmpty(Label) ? Field : Label) (From)
            </text>
        }
        else if (FilterType == FilterTypes.DateTimeMax)
        {
            <text>
                @(string.IsNullOrEmpty(Label) ? Field : Label) (To)
            </text>
        }
        else if (FilterType == FilterTypes.Int)
        {
            <text>
                @(string.IsNullOrEmpty(Label) ? Field : Label)            (Min)
            </text>
        }
        else
        {
            <text>
                @(string.IsNullOrEmpty(Label) ? Field : Label)
            </text>
        }
    </label>
    @if (FilterType == FilterTypes.String)
    {
        <input id="@ElementId" class="form-control" type="search" autofocus @bind="filterText" @oninput="OnTextFilterValueChanged" placeholder="Filter text..." />
    }
    else if (FilterType == FilterTypes.Int)
    {
        <span><input id="@ElementId" class="form-control w-100" type="number" @bind=filterIntMin @bind:event="oninput" @onmouseup="OnMinMaxFilterValueChanged" @onkeyup="OnMinMaxFilterValueChanged" /> </span>
    }
    else if (FilterType == FilterTypes.MinMax)
    {
        <span>
            <span>
                Min: <span class="slider-value">@filterIntMin</span>
            </span>

            <input id="@ElementId" class="form-range" type="range" min="@sliderMin" max="@sliderMax" @bind=filterIntMin @bind:event="oninput" @onmouseup="OnMinMaxFilterValueChanged" @onkeyup="OnMinMaxFilterValueChanged" />
        </span>
        <span>
            Max: <span class="slider-value">@filterIntMax</span>
            <input id="@ElementId" class="form-range" type="range" min="@sliderMin" max="@sliderMax" @bind=filterIntMax @bind:event="oninput" @onmouseup="OnMinMaxFilterValueChanged" @onkeyup="OnMinMaxFilterValueChanged" />
        </span>
    }
    else if (FilterType == FilterTypes.DateTime || FilterType == FilterTypes.DateTimeMin || FilterType == FilterTypes.DateTimeMax)
    {
        <span>
            <SimpleDatePicker Date="filterDateTime" DateChanged="(DateTime? dt)=>OnDateFilterValueChanged(dt)"></SimpleDatePicker>
        </span>
    }
    else if (FilterType == FilterTypes.CheckBox)
    {
        if (IsSwitch)
        {
            <div class="form-check form-switch">
                <input id="@ElementId" class="form-check-input" type="checkbox" @bind=filterCheckBox @oninput="OnCheckBoxChanged">
            </div>
        }
        else
        {
            <span>
                <input id="@ElementId" class="form-check-input" type="checkbox" @bind=filterCheckBox @oninput="OnCheckBoxChanged">
            </span>
        }


    }
    else if (FilterType == FilterTypes.RadioButton)
    {
        <div class="btn-group flex-wrap fit-content" role="group">
            @if (string.IsNullOrEmpty(DefaultSelectedOption) || filterText == "")
            {
                <input checked type="radio" name="filter@(Field)" value="@string.Empty" class="btn-check" id="@ElementId" @onchange="OnRadioButtonChanged">
            }
            else
            {
                <input type="radio" name="filter@(Field)" value="@string.Empty" class="btn-check" id="@ElementId" @onchange="OnRadioButtonChanged">
            }
            <label class="btn btn-outline-secondary" for="@(ElementId)">All</label>

            @foreach (var keyValuePair in Options)
            {
                if (DefaultSelectedOption == keyValuePair.Key)
                {
                    <input checked type="radio" name="filter@(Field)" value="@keyValuePair.Key" class="btn-check" id="@(ElementId+keyValuePair.Key)" @onchange="OnRadioButtonChanged">
                }
                else
                {
                    <input type="radio" name="filter@(Field)" value="@keyValuePair.Key" class="btn-check" id="@(ElementId+keyValuePair.Key)" @onchange="OnRadioButtonChanged">
                }
                <label class="btn btn-outline-primary" for="@(ElementId+keyValuePair.Key)">@keyValuePair.Value</label>
            }
        </div>
    }
    else if (FilterType == FilterTypes.Select)
    {
        <div>
            <select id="@ElementId" class="form-select" @onchange="OnSelectChanged" value=@filterText>
                <option value="" selected>Select @GetDisplayName</option>
                @foreach (var option in SelectOptions)
                {
                    <option value="@option">@option</option>
                }
            </select>
        </div>
    }
</div>



@code {
    [CascadingParameter]
    public DataFilter<TDataItem> ParentFilter { get; set; }

    [Parameter]
    public FilterTypes FilterType { get; set; }
    [Parameter]
    public string Field { get; set; }
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public Dictionary<string, string> Options { get; set; }
    [Parameter]
    public string DefaultSelectedOption { get; set; }
    [Parameter]
    public bool IsSwitch { get; set; }
    [Parameter]
    public bool IsSelectSorted { get; set; }

    public string GetDisplayName => string.IsNullOrEmpty(Label) ? Field : Label;
    public bool IsActive;
    public List<string> SelectOptions = new();

    public string FilterValue
    {
        get
        {
            if (FilterType == FilterTypes.String || FilterType == FilterTypes.RadioButton || FilterType == FilterTypes.Select)
                return filterText;
            if (FilterType == FilterTypes.Int)
                return filterIntMin.ToString();
            if (FilterType == FilterTypes.MinMax)
                return $"{filterIntMin}_{filterIntMax}";
            if (FilterType == FilterTypes.DateTime || FilterType == FilterTypes.DateTimeMin || FilterType == FilterTypes.DateTimeMax)
                return filterDateTime?.ToShortDateString();
            if (FilterType == FilterTypes.CheckBox)
                return filterCheckBox.ToString();

            return string.Empty;
            //Better way?
        }
    }

    Type type;
    string filterText = string.Empty;
    int filterIntMin = 0;
    int filterIntMax = 0;
    int sliderMin;
    int sliderMax;
    DateTime? filterDateTime;
    bool filterCheckBox;
    string ElementId;

    public void ClearFilter()
    {
        if (FilterType == FilterTypes.String || FilterType == FilterTypes.RadioButton || FilterType == FilterTypes.Select)
            filterText = string.Empty;
        if (FilterType == FilterTypes.Int)
            filterIntMin = 0;
        if (FilterType == FilterTypes.MinMax)
            filterIntMin = filterIntMax = 0;
        if (FilterType == FilterTypes.DateTime || FilterType == FilterTypes.DateTimeMin || FilterType == FilterTypes.DateTimeMax)
            filterDateTime = null;
        if (FilterType == FilterTypes.CheckBox)
            filterCheckBox = false;

        IsActive = false;
        ParentFilter.UpdateFilter(this);
    }

    public void SetFilterMinMax(int min, int max)
    {
        sliderMin = min;
        sliderMax = max;
    }

    protected override void OnInitialized()
    {
        var property = DataUtils.GetItemsPropertyInfo<TDataItem>()
        .Where(x => x.Name == Field)
        .FirstOrDefault();

        if (property == null)
            throw new ArgumentNullException($"Field: {Field} does not exist in item.");

        type = property.PropertyType;
        ElementId = GetRandomString();

        ValidateItem();
        InitializeItem();

        ParentFilter.AddFilterItem(this);
    }

    private string GetRandomString()
    {
        string path = System.IO.Path.GetRandomFileName();
        path = path.Replace(".", "");
        return path;
    }

    private void ValidateItem()
    {
        switch (FilterType)
        {
            // case FilterTypes.String:
            //      ValidateString();
            case FilterTypes.Int:
                ValidateInt();
                break;
            // case FilterTypes.MinMax:
            //      ValidateMinMax();
            case FilterTypes.DateTime:
                ValidateDateTime();
                break;
            case FilterTypes.DateTimeMin:
                goto case FilterTypes.DateTime;
            case FilterTypes.DateTimeMax:
                goto case FilterTypes.DateTime;
            // case FilterTypes.CheckBox:
            //      ValidateCheckBox();
            case FilterTypes.RadioButton:
                ValidateRadioButton();
                break;
            // case FilterTypes.Select:
            //      ValidateSelect();
            default:
                break;
        }

    }


    private void ValidateDateTime()
    {
        if (type.Name != "DateTime" && type.Name != "DateOnly")
            throw new ArgumentException($"{Field} must be of type DateTime or DateOnly");
    }

    private void ValidateInt()
    {
        if (type == typeof(bool))
            throw new ArgumentException("Filter can't cast bools to int");
    }

    private void ValidateRadioButton()
    {
        if (Options == null)
            throw new ArgumentNullException("RadioButtons need the Options parameter.");
        else if (!string.IsNullOrEmpty(DefaultSelectedOption) && !Options.ContainsKey(DefaultSelectedOption))
            throw new ArgumentException("Default option does not exists in selected Field");
    }

    private void InitializeItem()
    {
        if (FilterType == FilterTypes.RadioButton)
        {
            filterText = DefaultSelectedOption ?? string.Empty;
            IsActive = !string.IsNullOrEmpty(DefaultSelectedOption);
        }
    }

    private void OnTextFilterValueChanged(ChangeEventArgs e)
    {
        filterText = e.Value.ToString();
        CheckDisableAndUpdate();
    }

    private void OnMinMaxFilterValueChanged()
    {
        CheckDisableAndUpdate();
    }

    private void OnDateFilterValueChanged(DateTime? date)
    {
        filterDateTime = date;
        CheckDisableAndUpdate();
    }

    private void OnCheckBoxChanged(ChangeEventArgs e)
    {
        filterCheckBox = (bool)e.Value;
        CheckDisableAndUpdate();
    }

    void OnRadioButtonChanged(ChangeEventArgs e)
    {
        filterText = e.Value.ToString();
        CheckDisableAndUpdate();
    }

    void OnSelectChanged(ChangeEventArgs e)
    {
        filterText = e.Value.ToString();
        CheckDisableAndUpdate();
    }

    private void CheckDisableAndUpdate()
    {
        DisableIfDefaultValue();
        ParentFilter.UpdateFilter(this);
    }

    private void DisableIfDefaultValue()
    {
        switch (FilterType)
        {
            case FilterTypes.String:
                if (string.IsNullOrEmpty(filterText))
                    IsActive = false;
                else
                    IsActive = true;
                break;
            case FilterTypes.Int:
                if (filterIntMin == 0)
                    IsActive = false;
                else
                    IsActive = true;
                break;
            case FilterTypes.MinMax:
                if (filterIntMin == 0 && filterIntMax == 0)
                    IsActive = false;
                else
                    IsActive = true;
                break;
            case FilterTypes.DateTime:
                if (filterDateTime.HasValue)
                {
                    IsActive = true;
                }
                else
                {
                    IsActive = false;
                }
                break;
            case FilterTypes.DateTimeMin:
                goto case FilterTypes.DateTime;

            case FilterTypes.DateTimeMax:
                goto case FilterTypes.DateTime;
            case FilterTypes.CheckBox:
                IsActive = filterCheckBox;
                break;
            case FilterTypes.RadioButton:
                goto case FilterTypes.String;
            case FilterTypes.Select:
                goto case FilterTypes.String;
            default:
                throw new ArgumentOutOfRangeException($"Set FilterType {FilterType} does not exists");
        }

    }
}
