@typeparam TDataItem

<div class="filter-item d-flex flex-column justify-content-center">
    <label>@(string.IsNullOrEmpty(Label) ? Field : Label)</label>
    @if (FilterType == FilterTypes.String)
    {
        <input type="search" autofocus @bind="filterText" @oninput="OnTextFilterValueChanged" placeholder="Filter text..." />
    }
    else if (FilterType == FilterTypes.Int)
    {
        <span>Min: <input type="number" @bind=filterIntMin @bind:event="oninput" @onmouseup="OnMinMaxFilterValueChanged" @onkeyup="OnMinMaxFilterValueChanged" /> </span>
    }
    else if (FilterType == FilterTypes.MinMax)
    {
        <span>
            Min:<input type="range" min="@sliderMin" max="@sliderMax" @bind=filterIntMin @bind:event="oninput" @onmouseup="OnMinMaxFilterValueChanged" @onkeyup="OnMinMaxFilterValueChanged" /> <span class="slider-value">@filterIntMin</span>
        </span>
        <span>
            Max:<input type="range" min="@sliderMin" max="@sliderMax" @bind=filterIntMax @bind:event="oninput" @onmouseup="OnMinMaxFilterValueChanged" @onkeyup="OnMinMaxFilterValueChanged" /> <span class="slider-value">@filterIntMax</span>
        </span>
    }
    else if (FilterType == FilterTypes.DateTime || FilterType == FilterTypes.DateTimeMin || FilterType == FilterTypes.DateTimeMax)
    {
        <span>
            @if (FilterType == FilterTypes.DateTimeMin)
            {
                <text>
                    From
                </text>
            }
            else if (FilterType == FilterTypes.DateTimeMax)
            {
                <text>
                    To
                </text>
            }
            <SimpleDatePicker Date="filterDateTime" DateChanged="(DateTime? dt)=>OnDateFilterValueChanged(dt)"></SimpleDatePicker>
        </span>
    }
    else if (FilterType == FilterTypes.CheckBox)
    {
        if (IsSwitch)
        {
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" @bind=filterCheckBox @oninput="OnCheckBoxChanged">
            </div>
        }
        else
        {
            <span>
                <input type="checkbox" @bind=filterCheckBox @oninput="OnCheckBoxChanged">
            </span>
        }


    }
    else if (FilterType == FilterTypes.RadioButton)
    {
        <div class="btn-group" role="group">
            @if (string.IsNullOrEmpty(DefaultSelectedOption) || filterText == "")
            {
                <input checked type="radio" name="filter@(Field)" value="@string.Empty" class="btn-check" id="filter@(Field)All" @onchange="OnRadioButtonChanged">
            }
            else
            {
                <input type="radio" name="filter@(Field)" value="@string.Empty" class="btn-check" id="filter@(Field)All" @onchange="OnRadioButtonChanged">
            }
            <label class="btn btn-outline-secondary" for="filter@(Field)All">All</label>

            @foreach (var keyValuePair in Options)
            {
                if (DefaultSelectedOption == keyValuePair.Key)
                {
                    <input checked type="radio" name="filter@(Field)" value="@keyValuePair.Key" class="btn-check" id="btnradio@(Field+keyValuePair.Key)" @onchange="OnRadioButtonChanged">
                }
                else
                {
                    <input type="radio" name="filter@(Field)" value="@keyValuePair.Key" class="btn-check" id="btnradio@(Field+keyValuePair.Key)" @onchange="OnRadioButtonChanged">
                }
                <label class="btn btn-outline-primary" for="btnradio@(Field+keyValuePair.Key)">@keyValuePair.Value</label>
            }
        </div>
    }
    else if (FilterType == FilterTypes.Select)
    {
        <div>
            <select class="form-select" @onchange="OnSelectChanged" value=@filterText>
                <option value="" selected>Select @GetDisplayName</option>
                @foreach (var option in SelectOptions)
                {
                    <option value="@option">@option</option>
                }
            </select>
        </div>
    }
</div>



@code {
    [CascadingParameter]
    public DataFilter<TDataItem> ParentFilter { get; set; }

    [Parameter]
    public FilterTypes FilterType { get; set; }
    [Parameter]
    public string Field { get; set; }
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public Dictionary<string, string> Options { get; set; }
    [Parameter]
    public string DefaultSelectedOption { get; set; }
    [Parameter]
    public bool IsSwitch { get; set; }
    [Parameter]
    public bool IsSelectSorted { get; set; }


    public string GetDisplayName => string.IsNullOrEmpty(Label) ? Field : Label;
    public bool IsActive;
    public List<string> SelectOptions = new();

    public string FilterValue
    {
        get
        {
            if (FilterType == FilterTypes.String || FilterType == FilterTypes.RadioButton || FilterType == FilterTypes.Select)
                return filterText;
            if (FilterType == FilterTypes.Int)
                return filterIntMin.ToString();
            if (FilterType == FilterTypes.MinMax)
                return $"{filterIntMin}_{filterIntMax}";
            if (FilterType == FilterTypes.DateTime || FilterType == FilterTypes.DateTimeMin || FilterType == FilterTypes.DateTimeMax)
                return filterDateTime?.ToShortDateString();
            if (FilterType == FilterTypes.CheckBox)
                return filterCheckBox.ToString();

            return string.Empty;
            //Better way?
        }
    }

    Type type;
    string filterText = string.Empty;
    int filterIntMin = 0;
    int filterIntMax = 0;
    int sliderMin;
    int sliderMax;
    DateTime? filterDateTime;
    bool filterCheckBox;

    public void ClearFilter()
    {
        if (FilterType == FilterTypes.String || FilterType == FilterTypes.RadioButton || FilterType == FilterTypes.Select)
            filterText = string.Empty;
        if (FilterType == FilterTypes.Int)
            filterIntMin = 0;
        if (FilterType == FilterTypes.MinMax)
            filterIntMin = filterIntMax = 0;
        if (FilterType == FilterTypes.DateTime || FilterType == FilterTypes.DateTimeMin || FilterType == FilterTypes.DateTimeMax)
            filterDateTime = null;
        if (FilterType == FilterTypes.CheckBox)
            filterCheckBox = false;

        IsActive = false;
        ParentFilter.UpdateFilter(this);
    }

    protected override void OnInitialized()
    {
        var property = DataGridUtils.GetItemsPropertyInfo<TDataItem>()
        .Where(x => x.Name == Field)
        .FirstOrDefault();

        if (property == null)
            throw new ArgumentNullException($"Field: {Field} does not exist in item.");

        if (FilterType == FilterTypes.RadioButton)
        {
            if (Options == null)
                throw new ArgumentNullException("RadioButtons need the Options parameter.");
            else if (!string.IsNullOrEmpty(DefaultSelectedOption) && !Options.ContainsKey(DefaultSelectedOption))
                throw new ArgumentException("Default option does not exists in selected Field");
        }


        type = property.PropertyType;

        if (FilterType == FilterTypes.RadioButton)
        {
            filterText = DefaultSelectedOption ?? string.Empty;
            IsActive = !string.IsNullOrEmpty(DefaultSelectedOption);
        }

        ParentFilter.AddFilterItem(this);
    }

    public void SetFilterMinMax(int min, int max)
    {
        sliderMin = min;
        sliderMax = max;
    }

    private void OnTextFilterValueChanged(ChangeEventArgs e)
    {
        filterText = e.Value.ToString();
        CheckDisableAndUpdate();
    }

    private void OnMinMaxFilterValueChanged()
    {
        CheckDisableAndUpdate();
    }

    private void OnDateFilterValueChanged(DateTime? date)
    {
        filterDateTime = date;
        CheckDisableAndUpdate();
    }

    private void OnCheckBoxChanged(ChangeEventArgs e)
    {
        filterCheckBox = (bool)e.Value;
        CheckDisableAndUpdate();
    }

    void OnRadioButtonChanged(ChangeEventArgs e)
    {
        filterText = e.Value.ToString();
        CheckDisableAndUpdate();
    }

    void OnSelectChanged(ChangeEventArgs e)
    {
        filterText = e.Value.ToString();
        CheckDisableAndUpdate();
    }

    private void CheckDisableAndUpdate()
    {
        DisableIfDefaultValue();
        ParentFilter.UpdateFilter(this);
    }

    private void DisableIfDefaultValue()
    {
        switch (FilterType)
        {
            case FilterTypes.String:
                if (string.IsNullOrEmpty(filterText))
                    IsActive = false;
                else
                    IsActive = true;
                break;
            case FilterTypes.Int:
                if (filterIntMin == 0)
                    IsActive = false;
                else
                    IsActive = true;
                break;
            case FilterTypes.MinMax:
                if (filterIntMin == 0 && filterIntMax == 0)
                    IsActive = false;
                else
                    IsActive = true;
                break;
            case FilterTypes.DateTime:
                if (filterDateTime.HasValue)
                {
                    IsActive = true;
                }
                else
                {
                    IsActive = false;
                }
                break;
            case FilterTypes.DateTimeMin:
                goto case FilterTypes.DateTime;

            case FilterTypes.DateTimeMax:
                goto case FilterTypes.DateTime;
            case FilterTypes.CheckBox:
                IsActive = filterCheckBox;
                break;
            case FilterTypes.RadioButton:
                goto case FilterTypes.String;
            case FilterTypes.Select:
                goto case FilterTypes.String;
            default:
                throw new ArgumentOutOfRangeException($"Set FilterType {FilterType} does not exists");
        }

    }
}
